<!DOCTYPE html>
<html>
<head>
    <title>Explore</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">

    /*added s to http below*/

    <link
        rel="stylesheet"
        href="https://cdn.leafletjs.com/leaflet-0.7/leaflet.css"
    />
    <style>
      #map {
        float:left;
        width: 70%;
        height: 820px;
      }

      /*-----------Nav bar customization-------------*/
      ul {
          list-style-type: none;
          margin: 0;
          padding: 0;
          overflow: hidden;
          background-color: #333;
      }

      li {
          float: left;
      }

      li a {
          display: block;
          color: white;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
      }

      li a:hover {
          background-color: #111;
      }

      #sign_in {float:right;}
      #sign_up {float:right;}

    /*-----control bar------*/

    #control_bar {
      float: right;
      background:#c8ffe7;
      width:30%;
      height:820px;
    }



    </style>
</head>
<body>

  <div class="nav">
  <ul>
  <li><a class="active" href="/">Highlander</a></li>
  <li><a href="#news">Explore</a></li>
  <li id ="sign_in"><a href="#contact">Sign In</a></li>
  <li id ="sign_up"><a href="#contact">Sign Un</a></li>
  <li><a href="#about">About</a></li>
  </ul>
  </div>

    <div id="control_bar">
      <h6>Control and sorting elements</h6>

    </div>



    <div id="map"></div>

    /*added s to http below*/

    <script
        src="https://cdn.leafletjs.com/leaflet-0.7/leaflet.js">
    </script>

    /*added s to http below*/

    <script>
        var map = L.map('map').setView([34.228730, -77.872687], 14);
        mapLink =
            '<a href="https://openstreetmap.org">OpenStreetMap</a>';
        L.tileLayer(
            'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; ' + mapLink + ' Contributors',
            maxZoom: 18,
            }).addTo(map);
    </script>
</body>
</html>
