<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Sign In</title>

    <style type="text/css">


    #main{
      width:800px;
    }

    #nav_bar{

      width:800px;
      background-color: #8FDBF2;
      border-radius: 10px;
      margin: 10px 0;

    }

    #form{
      width:800px;
      border-radius: 10px;
      margin:10px 0 ;
      background-color: #DFECF0;
    }

    #form_group{
      padding-top: 20px;
      padding-bottom: 20px;
    }


    </style>

  </head>



  <body>

    <div id="main" class="container">


      <nav id="nav_bar" class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="/">Highlander</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">

            <li class="nav-item active">
              <a class="nav-link" href="/explore">Explore <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/sign_up">Sign Up</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/about">About</a>
            </li>

          </ul>
        </div>
    </nav>

    <h1>Password Reset</h1>


    <div id="form" class="container">


    <form id="form_group" action="/password_question" method="POST">

      <div class="form-group">
        <div>
          <label>Hello <%=user.user_name%>, here is your personal security question:</label>
        </div>
        <label for="exampleFormControlInput1"><%=user.question%></label>
        <input type="hidden" name="username" value="<%=user.user_name%>"/>
        <input type="text" class="form-control" placeholder="Answer" name="answer" required>
      </div>



      <button type="submit" class="btn btn-primary">Submit</button>
      <button type="reset" class="btn btn-primary">Clear</button>
      <a class="btn btn-primary" href="/sign_in" role="button">Cancel</a>

    </form>

  </div>

  </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>
