<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Terms and Conditions</title>


    <style type="text/css">

    .navbar-brand{
      font-weight: bold;
      font-size: 30px;
    }


    #main{

      width:1000px;



    }


    #nav_bar{

      margin: 20px 0;

      width:1000px;

      border-radius: 10px;

      background-color: #8FDBF2;


    }


    #content{
      background-color: #DFECF0;
      border-radius: 10px;

      margin: 10px 0;
      width:1000px;

      padding-top: 20px;
      padding-bottom: 20px;




    }

    .each_term{
      font-size: 20px;
    }

    #message{

      display:none;
      width:1000px;
      margin-left: 15px;
      color:red;
    }








    </style>

  </head>

  <body>

    <div id="main" class="container">




    <nav id="nav_bar" class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="/">Highlander</a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">

          <li class="nav-item active">
            <a class="nav-link" href="/explore/default">Explore <span class="sr-only">(current)</span></a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/sign_in">Sign In</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>

        </ul>
      </div>
  </nav>











      <h1>Terms and Conditions</h1>
      <h6>You must agree to our terms and conditons before registration.</h6>


      <div id="content" class="container">







        <div class="row each_term">
          <div class="col">
            <p>
              You must not sue us.
            </p>

          </div>

          <div class="col">
            <input type="checkbox" class="form-check-input" id="checkbox_1">
            <label class="form-check-label" for="exampleCheck1">Agree</label>

          </div>

        </div>

        <div class="row each_term">
          <div class="col">
            <p>
              You must not sue us.
            </p>

          </div>

          <div class="col">
            <input type="checkbox" class="form-check-input" id="checkbox_2">
            <label class="form-check-label" for="exampleCheck1">Agree</label>

          </div>

        </div>

        <div class="row each_term">
          <div class="col">
            <p>
              You must not sue us.
            </p>

          </div>

          <div class="col">
            <input type="checkbox" class="form-check-input" id="checkbox_3">
            <label class="form-check-label" for="exampleCheck1">Agree</label>

          </div>

        </div>

        <div class="row each_term">
          <div class="col">
            <p>
              You must not sue us.
            </p>

          </div>

          <div class="col">
            <input type="checkbox" class="form-check-input" id="checkbox_4">
            <label class="form-check-label" for="exampleCheck1">Agree</label>

          </div>

        </div>

        <div class="row each_term">
          <div class="col">
            <p>
              You must not sue us.
            </p>

          </div>

          <div class="col">
            <input type="checkbox" class="form-check-input" id="checkbox_5">
            <label class="form-check-label" for="exampleCheck1">Agree</label>

          </div>

        </div>

        <div class="row each_term">
          <div class="col">
            <p>
              You must not sue us.
            </p>

          </div>

          <div class="col">
            <input type="checkbox" class="form-check-input" id="checkbox_6">
            <label class="form-check-label" for="exampleCheck1">Agree</label>

          </div>

          <div>
            <p id="message">You must agree to all of our terms and conditions before signing up.</p>
          </div>

        </div>

        </div>

        <div class="row each_term">

          <div class="col">
            <a class="btn btn-primary" href="/" role="button">Back to Home Page</a>
          </div>

          <div class="col">
            <a id="continue_button" class="btn btn-primary" href="#" role="button">Continue to Sign Up</a>
          </div>


        </div>



        </div>

        <script>



            function all_checked(){
              var checkbox_1 = document.getElementById("checkbox_1").checked;
              var checkbox_2 = document.getElementById("checkbox_2").checked;
              var checkbox_3 = document.getElementById("checkbox_3").checked;
              var checkbox_4 = document.getElementById("checkbox_4").checked;
              var checkbox_5 = document.getElementById("checkbox_5").checked;
              var checkbox_6 = document.getElementById("checkbox_6").checked;

              if(checkbox_1 && checkbox_2 && checkbox_3 && checkbox_4 && checkbox_5 && checkbox_6){
                return true;
              } else return false;

            }

            document.getElementById("continue_button").onclick =function(){
              document.getElementById("continue_button").setAttribute("href",where_to(all_checked()));
              if(all_checked()){
                document.getElementById("message").style.display="none";
              } else {
                document.getElementById("message").style.display="block";
              }
            }

            function where_to(all_checked){
              if(all_checked){
                return "/sign_up_finally";
              } else return "#";
            }



        </script>





    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>
